@model BD.DATA.Entity.ApplicationUser
@{
    ViewData["Title"] = "EmailVerification";
}

<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <h3>Email verification required</h3>
            <h5>We have sent an email with a link</h5>
            <p>Please check your email and click on the link to confirm your account.</p>
        </div>
    </div>
</div>