@model BD.WEB.Models.ACCVM.LoginViewModel
@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="row">
    <div class="col-lg-12">
        <form asp-controller="Account" asp-action="ResetPasswordMail" method="post">
            <div style="text-align:center;">
                <h5><b>Forgot password?</b></h5>
                <br />
                <h6>Please enter your email. We will sent a link to your email!</h6>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="user" class="text-capitalize">EMAIL ADDRESS</label>
                        <input id="user" asp-for="Email" required type="text" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group" style="padding-top:30px">
                        <input type="submit" class="btn btn-lg custom-btn" value="Send Email" >
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>