
@{
    ViewData["Title"] = "ResetMailSent";
}
<div class="row">
    <div class="col-lg-12">
        <div class="text-center">A mail sent to your email with a link.<br />Click on that to reset your password</div>
    </div>
</div>